<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".helper.ApiConfig"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Paring"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".Activity.GoogleLoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SpinwheelActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PurchasepointActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.FreePointsActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.Stage4Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Stage3Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Stage2Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.Stage1Activity"
            android:exported="false" />
        <activity
            android:name=".Activity.DeactivateActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CustomerSupportActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.IdverficationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.StorepointsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProfileinfoActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProfileViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Trip.StarttripActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HomeActivity"
            android:exported="false"
            android:launchMode="singleInstance">

        </activity>

        <activity android:name=".Activity.ChatsActivity"
            android:exported="false" />

        <activity
            android:name=".Activity.ProfileDetailsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.OtpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.MobileLoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.SplashscreenActivity"
            android:exported="true"
            android:launchMode="singleInstance">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity> <!-- Theme is optional and only needed if default theme has no action bar. -->
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.app.dudeways.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>